/* CSS para los colores de fondo */
/* Estilos para los colores de fondo */
.ranking-primero {
    background-color: gold !important;
}

.ranking-segundo {
    background-color: silver;
}

.ranking-tercero {
    background-color: #cd7f32; /* Bronce */
}