/* CSS para los colores de fondo */
/* Estilos para los colores de fondo */
.fila-primero {
    background-color: gold !important;
}

.fila-segundo {
    background-color: silver !important;
}

.fila-tercero {
    background-color: #cd7f32 !important; /* Bronce */
}